#oh-map * {
    color: #fff
}
#oh-map .oh-pin-container {
    background-color: black;
    position: relative;
    width: 40px;
    height: 30px;
}

#oh-map .oh-pin-container:hover {
    width: 230px;
    height: 270px;
}

#oh-map .oh-pin-container .oh-pin-icon {
    padding: 4px;
    font-family: 'Fugaz One', Arial, Helvetica, sans-serif;
}

#oh-map .oh-pin-container:hover .oh-pin-icon {
    display: none;
}


#oh-map .oh-pin-content {
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
    height: 250px;
    transition: width 500ms, opacity 200ms;
    opacity: 0;
    max-height: 250px;
}

#oh-map .oh-pin-container:hover .oh-pin-content {
    opacity: 1;
}

#oh-map .oh-pin-scroll {
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    background:
        linear-gradient(transparent, black 200px, black);
}

#oh-map .oh-pin-content h1 {
    margin-top: 75px;
}

#oh-map .oh-pin-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;

}
#oh-map .oh-pin-container:hover .oh-pin-footer {
    display: unset;
}

/* CSS Triangle */
#oh-map .oh-pin-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: black;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}
