/* @import '../brand'; */

header {
	width: 100%;
	float: left;
}

nav {
	background-color: black;
	text-align: center;
	box-sizing: border-box;
	height: 60px;
	padding: 5px;
	overflow-y: hidden;
}

#logo {
	/* FIXME: Replace with proper font */
	font-family: 'Fugaz One', Arial, Helvetica, sans-serif;;
	line-height: 60px;
	font-size: calc(60px / 2);
	float: left;
	color: white;
}
#logo h1 {
		overflow-y: hidden;
}

#buttons {
	float: right;
}
#buttons button {
		color: white;
		margin: 10px;
}
